@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    background-color: #eee6db;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

h1{
    color: #8459e8;
    padding: 0 2.5rem;
}
h1 span{
    font-style:oblique;
}
ul{
    display: flex;
    gap: 1.8rem;
    background-color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    border: #8080803f solid 2px;
}
ul li{
    list-style: none;
    font-weight: 600;
    color: #615f5f;
    cursor: pointer;
}
ul li:first-child{
    color: #8459e8;
}
ul li:hover{
    color:#8459e8;
}
.section-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2.4rem 3rem;
}
.section-1 h4{
    background-color: #8459e83c;
    width: 165px;
    padding:0.4rem 1rem;
    border-radius: 20px;
    color: #8459e8;
}
.login-signup .login-btn{
    background: transparent;
    border: none;
    font-weight:600;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}
.login-signup .login-btn:hover{
    color: #8459e83c;
}
.login-signup .signup-btn{
    font-weight: 600;
    background-color:#8459e8;
    color:#fff;
    border:none;
    border-radius: 20px;
    padding:0.5rem 1rem;
    transition: ease 0.2s;
    cursor: pointer;
    outline: none;
}
.login-signup .signup-btn:hover{
    background-color:#615f5f;
}

.sec1-art1 h2{
    font-size: 2rem;
    font-weight: 800;
    word-wrap: break-word;
    padding: 1rem 0;
}
.sec1-art1 p{
    color: #615f5f;
}
.sec1-art1 button{
    color:#fff;
    background: transparent;
    border: none;
    padding: 0.7rem 2rem;
    background-color: #8459e8;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.sec1-art1 .users{
    margin-left: 40px;
}
.sec1-art1 .user-num{
    font-size: 1.2rem;
    color: #8459e8;
    padding: 0;
    margin-top: 1rem;
}
.sec1-art1 button:hover{
    background-color: #615f5f;
}

.sec1-art2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.sec1-art2 img{
    width: 250px;
    height: 400px;
    position: relative;
    top: -45px;
    z-index: 1;
    left: 80px;
    pointer-events: none; 
    user-select: none;  
}
.bg-color{
    width: 400px;
    height: 310px;
    background-color:#8459e83c;
    position: absolute;
    border-radius: 8px;
}