@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

body{
    font-family: 'Muli', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    overflow: hidden;
}

.container{
    width:90vw;
    display: flex;
}

.panel{
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 20px;
    flex: 0.5;
    cursor: pointer;
    color: #fff;
    transition: all 700ms ease-in;
    position: relative;
    margin: 10px;
}

.panel h2{
    position: absolute;
    bottom:20px; 
    left: 20px;  
    margin: 0;
    opacity:0;
}

.panel.active {
    flex: 5;
  }

.panel.active h2 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }

@media (max-width: 480px) {
    .container {
      width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
    display: none;
}
}
